.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .modal-content {
    position: relative;
    width: 500px;
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .modal-content h3 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-buttons button:first-child {
    margin-left: 0;
  }
    
  .error {
    color: red;
    margin-top: 0.5rem;
  }
  
  